@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.Log1{
    background-color: #FFF8F8;
    width: 450px;
    height: 434px;
    
}
.loge1{
    background-color: #0367A6;
    border-radius: 3px;
    height: 434px;
    width: 320px;
    color: #FFF8F8;
    list-style-type: none;
    
}
.loge1 h1{
    margin-left: 10px;
}
.loge1 ul{
    margin-top: 80px;
    list-style-type: none;
}
.loge1 ul a{
    color: #FFF8F8;
}
.loge1 ul li{
    margin-top: 20px;
}
.fog-logo{
    width: 50px;
    margin-top: 50px;
    margin-left: 130px;
}


.container{
    display: flex;
    font-family: 'Montserrat';
    justify-content: center;
    width: 1440px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E9E9E9;
}
.Group1{
    
    background-color: #c9c7c738;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 117px;
    width: 210px;
    height: 315px;
    box-shadow: 5px 5px 5px 5px #E9E9E9;
    
}
.set1{
   width: 11px;
   margin-top: 7px;
}
.vol1{
    font-size: 8px;
    margin-top: 4px;
    color: #0367A6;
    margin-left: 110px;
}
.form-control1{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 30px;
    
    
}
.Group1 Button{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 15px;
    width: 170px;
    color: white;
}
.esq1{
    color: #0367A6;
    margin-left: 35px;
    margin-top: 4px;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    margin-left: 80px;
    
}
.body{
     background-color: #E9E9E9;
}