@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');



.medialoginfunc{
    display: flex;
    margin: 5%;
}

.FundoInfofunc{
    background-color: #0367A6;
    height: 400px;
    width: 45%;
    color: #FFF8F8;
}

.FundoInfofunc ul{
    margin-top: 49px;
    list-style-type: none;
    margin-left: 30px;
}

.FundoInfofunc ul li{
    margin-top: 20px;
    margin-right: 30px; 
}

.foguete-logofunc{
    width: 53px;
    margin-top: 28px;
    margin-left: 130px;
}

.FundoFormfunc{
    background-color: #FFF8F8;
    width: 57%;
}

.InputsFormfunc{
    background-color: #c9c7c738;
    margin: 0 auto;
    margin-top: 22px;
    width: 80%;
    text-align: center;
}

.LogarEmpresafunc{
    font-size: 0.8em;
    margin-top: 4px;
    color: #0367A6;
    font-family: 'Comfortaa', cursive;
}

.LogarFuncionariofunc{
    font-size: 1em;
    margin-top: 4px;
    color: #0367A6;
    font-family: 'Comfortaa', cursive;
}

.ButtonSignInfunc{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 00px;
    width: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo-afunc{
    width: 40px;
    margin-top: 10px;
    text-align: center;  
   margin-left: 0px;
}

#inputfunc{
   width: 125%;
}

.containerloginfunc{

    display: flex;
    justify-content: center;
}





@media(max-width:825px){
    
   

}

@media(max-width:425px){
    .FundoInfofunc{
        display: none;
    }

    .FundoFormfunc{
        width: 100%;
    }

}

@media(max-width:655px){
.foguete-logofunc{
    display:none;
}
}


