.fundoinfo2{
  
        background-color: #0367A6;
        border-radius: 3px;
        height: 434px;
        width: 320px;
        color: #FFF8F8;
        list-style-type: none;
        

}

.LogarFuncionario{
        font-size: 8px;
        margin-top: 4px;
        color: #0367A6;
        
        font-family: 'Comfortaa', cursive;
}

@media(max-width:500px){
        .FundoInfo {
                height: 31.2em;
            }
}