@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');



.FundoForm{
    background-color: #FFF8F8;
    width: 60%;
    height: 110%;
}

.FundoInfo{
    background-color: #0367A6;
    border-radius: 3px;
    height: 110%;
    width: 40%;
    color: #FFF8F8;
    list-style-type: none;
    
    
}
.FundoInfo h1{
    margin-left: 10px;
    margin-top: 40px;

}
.FundoInfo ul{
    margin-top: 80px;
    list-style-type: none;
    margin-left: 30px;
}
.FundoInfo ul a{
    color: #FFF8F8;
    margin-right: 30px;
}
.FundoInfo ul li{
    margin-top: 20px;
    margin-right: 30px;
    
}
.foguete-logo{
    width: 50px;
    margin-top: 20px;
    margin-left: 130px;
}

 .Container{
    font-family: 'Montserrat';
    width: 100%;
    background-color: #E9E9E9;
} 

.mediaLogin{
    display: flex;
    align-content: center;
    margin: 5%;
}
.InputsForm{
    background-color: #c9c7c738;
    margin: 0 auto;
    margin-top: 3em;
    width: 80%;
    text-align: center;
}
.setaEmpresa{
   width: 11px;
   margin-top: 2px;
   margin-left: 10px;
}

.LogarEmpresa{
    font-size: 0.8em;
    margin-top: 4px;
    color: #0367A6;
    font-family: 'Comfortaa', cursive;
}

.LogarFuncionario{
    font-size: 1em;
    margin-top: 4px;
    color: #0367A6;
    font-family: 'Comfortaa', cursive;
}

.ButtonSignIn{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 00px;
    width: 50%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    text-align: center;  
   margin-left: 0px;
}

.body{
    background-color: #E9E9E9;
   
}




@media(max-width:500px){
    
    *, ::after, ::before {
        box-sizing: unset; 
    }
    [vw] [vw-access-button] .access-button {
        width: 30%;
        margin-left: 2.9em;
        /* float: right; */
    }

    .container {
        margin-bottom: 20%;
        margin-top: 10%;
    }

    .FundoInfo h1 {
        margin-top: 2em;
        margin-left: 0.2em;
    }

    .FundoInfo {
        background-color: #0367A6;
        border-radius: 3px;
        height: 110%;
        width: 40%;
        color: #FFF8F8;
        list-style-type: none;
    }

    .FundoForm {
        background-color: #FFF8F8;
        width: 50%;
        height: 110%;
    }

    .FundoInfo ul li {
        margin-top: 20px;
        /* margin-right: 30px; */
    }

    .ButtonSignIn {
        height: 35px;
        background-color: #0367A6;
        margin-top: 15px;
        border-radius: 3px;
        margin-left: 00px;
        width: 60%;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .FundoInfo ul {
        margin-top: 2.5em;
        list-style-type: none;
        margin-left: 1em;
    }

    

}





@media(max-width: 768px) {
    .foguete-logo{
        display: none;
    }

   
}