@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.FundoForm{
    background-color: #FFF8F8;
    width: 450px;
    height: 434px;
}

.FundoInfo{
    background-color: #0367A6;
    border-radius: 3px;
    height: 434px;
    width: 320px;
    color: #FFF8F8;
    list-style-type: none;
    
}
.FundoInfo h1{
    margin-left: 10px;
    margin-top: 40px;
}
.FundoInfo ul{
    margin-top: 80px;
    list-style-type: none;
    margin-left: 30px;
}
.FundoInfo ul a{
    color: #FFF8F8;
    margin-right: 30px;
}
.FundoInfo ul li{
    margin-top: 20px;
    margin-right: 30px;
    
}
.foguete-logo{
    width: 50px;
    margin-top: 20px;
    margin-left: 130px;
}

/* .Container{
    display: flex;
    font-family: 'Montserrat';
    justify-content: center;
    width: 1440px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E9E9E9;
} */

.Container{
    overflow: auto;
}

.InputsForm{
    
    background-color: #c9c7c738;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 80px;
    width: 300px;
    height: 370px;
    text-align: center;
    justify-content: center;
}
.setaEmpresa{
   width: 11px;
   margin-top: 2px;
   margin-left: 10px;
}

.LogarEmpresa{
    font-size: 8px;
    margin-top: 4px;
    color: #0367A6;
    margin-left: 180px;
    font-family: 'Comfortaa', cursive;
}

.ButtonSignIn{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 00px;
    width: 170px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    text-align: center;  
   margin-left: 0px;
}

.body{
     background-color: #E9E9E9;
}

@media(max-width: 768px) {
    .foguete-logo{
        display: none;
    }
}