@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.navbar-dark .navbar-nav .nav-link{
	color: black;
}
  .nav-logo {
	  float: left !important;
	  width: 100px;
	}

  #navstyle{
	  color: black;
	  font-family: 'Comfortaa';
	  margin-left: 10px;
  }

  #navstyle2{
	color: black;
	font-family: 'Comfortaa';
}

.end{
	display: flex;
	justify-content: end;
}

