*{
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
}

label {
    font-size: .9rem;
}


.container{
background-color: #fff;
}

.TextField{
    font-size: .7rem;
}


.btn{
    height: 50px;
    width: 200px;
}

.btn2{
    
    width: 200px;
    height: 50px;
}

button{
    display: flex;
    height: 50px;

}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
        padding-right: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-right-color: rgb(206, 212, 218);
    border-bottom-color: rgb(206, 212, 218);
    border-left-color: rgb(206, 212, 218);
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 50px;
    border-radius: 4px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-left: 70px;
}



