@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.ContainerFooter{
	height: 6em;
	width: 100%;
	background-color: white;
    bottom:0;
   position: relative;
   margin: auto;
}

.footer-logo {
	width: 100px;
   
    text-align: center;
	
}

.allfooter img {
   margin-top: 1em;
   
}

.textos a {
    margin-left: 8em;
    color: black;
}

.allfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
 
}

.textoresp{
    display: none;
}
    

@media(max-width: 1240px) {
    .textos{
        display: none;
    }

}