@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.ContainerFooter{
	height: 100px;
	width: 100%;
	background-color: white;
    bottom:0;
   position: relative;
   margin: auto;
}

.footer-logo {
	width: 100px;
   
    text-align: center;
	
}

.allfooter img {
   margin-top: 20px;
   
}

.textos a {
    margin-left: 190px;
    color: black;
}

.allfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 
}
    