@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.containerP{
    width: 100%;
    background-color: #0367a6;
    display: flex;
}

.perfilRecrutado{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Inicial{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}
.fotoetexto{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    margin-left: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listagem{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}

.info{
    margin-top: 15px;
    margin-left: 50px;
}

.funcao{
    display: flex;
    justify-content: space-between;
}

.telefone{
    margin-left: 20px;
}

.btn-icon{
    padding: 8px;

}

.IconButton{
    width: 30px;
    height: 30px;
}

.listagem{
    background-color: #C4C4C4;
    
   
}


.buttom{
    margin-left: -14px;
}

.barra{
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 500px;
}

.InputBase{
    background-color: #ffff;
}

.grafico{
    background-color: rgba(196,196,196,0.3);
    margin-left: 90px;
    margin-right: 90px;
    width: 415px;
    height: 500px;
    align-items: center;
    
    display: flex;
}

.totalnumero{
    text-align: center;
    padding-top: 100px;
    margin-top: 10px;
}

h3{
    padding-top: 10px;
}

.wrapper{
    padding: 31px 90px 90px 90px;
    text-align: center;
    background-color: rgba(196,196,196,0.3);
    
    margin-left: 90px;
    margin-right: 90px;

}

.perfilRecrutado img{
    border-radius: 50px;
}

#avatarimg img{
    
        border-radius: 50px;
    
}
.table-sm td{
    vertical-align: middle; 
    
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: normal;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.h7{
    margin-right: 5px;
}

input{
    background-color: #C4C4C4;
    border-color: floralwhite;
    border-radius: 5px;
    margin-left: 15px;
}

.procurar{
    margin-bottom: 25px;
}

.Pendencias{
    margin-left: 32px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #F66F6F;
    height: 90px;
    width: 150px;
    align-items: center;
    color: black;
    padding: 20px;
    text-align: center;
}

.Sucesso{
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 50px;
    background-color: #7CF66F;
    height: 90px;
    width: 150px;
    align-items: center;
    color: black;
    padding: 20px;
    text-align: center;
}

.Analise{
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 50px;
    background-color: #FFFF84;
    margin-bottom: 20px;
    height: 90px;
    width: 150px;
    align-items: center;
    color: black;
    padding: 20px;
    text-align: center;
}

.cards{
    margin-top: 10px;
    text-align: center;
    display: flex;
    height: 250px;
    width: 600px;
    margin-left: 170px;
    padding: 20px;
    background-color: rgba(196,196,196,0.3);
    margin-bottom: 10px;
   
    
}

.table-sm{
    
}

.Graficos{
    align-items: center;
    
}

.total1{
    border-radius: 10px;
    margin-top: 50px;
    background-color: #0367a6;
    margin-bottom: 20px;
    height: 90px;
    width: 150px;
    align-items: center;
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 208px;
    
}

.titulorecrutado{
    align-items: center;
    font-size: 28px;
    text-align: center;
}

.TituloCards{
   
    font-size: 25px;
   
}

