@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
}


#Tab0{
  background-color: 'red';
}

.Tab1{
  background-color: #80BFB0;
}

.Tab2{
  background-color: #0367A6;
}

.Tab3{
  background-color: #A60303;
  font-family: 'Comfortaa';
}

.MuiTabs-flexContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}

