@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.Container{
	height: 100px;
	width: 100%;
	background-color: white;
	margin-top: 20;
}

.footer-logo {
	width: 100px;
	position: absolute;
	left: 140px;
	margin-top: 20px;
}

.TextFooter1{
    font-family: Comfortaa;
    font-size: 17px;
    color:black;
    text-align: center; 
    font-weight: 500;
    position: relative;
    left: 350px;
    top: 40px;
}


.TextFooter2{
    font-family: Comfortaa;
    font-size: 17px;
    color:black;
    text-align: center; 
    font-weight: 500;
    position: relative;
    left: 450px;
    bottom: -35px;
}


.TextFooter3{
    font-family: Comfortaa;
    font-size: 17px;
    color:black;
    text-align: center; 
    font-weight: 500;
    position: relative;
    left: 550px;
    bottom: -35px;
    text-decoration: none;
    
}

.TextFooter3:hover{
    color: blue;
}