@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.Log{
    background-color: #0367A6;
    width: 450px;
    height: 434px;
    
}
.loge{
    background-color: white;
    border-radius: 3px;
    height: 434px;
    width: 320px;
    text-decoration: black;
    list-style-type: none;
}

.loge h1{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

.loge ul{
    margin-top: 80px;
    list-style-type: none;
}
.loge ul a{
    color: black;
}
.loge ul li{
    margin-top: 20px;
}
.fog-logo{
    width: 50px;
    margin-top: 50px;
    margin-left: 130px;
}


.container{
    display: flex;
    font-family: 'Montserrat';
    justify-content: center;
    width: 1440px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E9E9E9;
}
.Group{
    
    background-color: #e9e9e9d2;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 117px;
    width: 210px;
    height: 315px;
    box-shadow: 5px 5px 5px 5px rgb(39, 39, 39);
    
}
.set{
   width: 11px;
   margin-top: 4px;
}
.vol{
    font-size: 11px;
    margin-top: 4px;
    color: #0367A6;
}
.form-control{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 30px;
    
    
}
.Group Button{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 15px;
    width: 170px;
    color: white;
}
.esq{
    color: #0367A6;
    margin-left: 35px;
    margin-top: 4px;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    margin-left: 80px;
    
}
.body{
     background-color: #E9E9E9;
}
