@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.FormFundo{
    background-color: #0367A6;
    width: 450px;
    height: 434px;
    
}
.Bemvindo{
    background-color: white;
    border-radius: 3px;
    height: 434px;
    width: 320px;
    text-decoration: black;
    list-style-type: none;
}

.Bemvindo h1{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}

.Bemvindo ul{
    margin-top: 80px;
    list-style-type: none;
    margin-left: 30px;
}
.Bemvindo ul a{
    color: black;
    margin-right: 30px;
}
.Bemvindo ul li{
    margin-top: 20px;
}
.fog-logo{
    width: 50px;
    margin-top: 20px;
    margin-left: 130px;
}


.container{
   
    font-family: 'Montserrat';
    justify-content: center;
    width: 1440px;
    
    background-color: #E9E9E9;
}

.FormInputs{
    
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 80px;
    width: 300px;
    height: 370px;
    text-align: center;
    justify-content: center;
    
}
.Logar{
    font-size: 8px;
    margin-top: 4px;
    color: #0367A6;
    font-family: 'Comfortaa', cursive;
    margin-right: 200px;
}
.set{
   width: 11px;
   margin-top: 2px;

}
.form-control{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 30px;
    
    
}
.ButtonSignIn{
    height: 35px;
    background-color: #0367A6;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 15px;
    width: 170px;
    color: white;
}
.esq{
    color: #0367A6;
    margin-left: 35px;
    margin-top: 4px;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    margin-left: 80px;
    
}
.body{
     background-color: #E9E9E9;
}
