@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.containerP{
    width: 100%;
    background-color: #0367a6;
    display: flex;
}

.perfilRecrutado{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}



#iframe-center {
    text-align: center;
  width:100%;
}




.Inicial{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}
.fotoetexto{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    margin-left: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listagem{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}

.info{
    margin-top: 5px;
    margin-left: 50px;
}

.funcao{
    display: flex;
    justify-content: space-between;
}

.descricao{
    background-color: #C4C4C4; 
}

.btn-icon{
    padding: 8px;

}

.IconButton{
    width: 30px;
    height: 30px;
}

.listagem{
    background-color: #C4C4C4;
   
}


.buttom{
    margin-left: -14px;
}

.barra{
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 500px;
}

.InputBase{
    background-color: #ffff;
}

.wrapper{
    padding: 50px;
    text-align: center;

}
.perfilRecrutado{
    border-radius: 50px;
}

.table-dark td{
    vertical-align: middle;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: normal;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

input{
    background-color: #C4C4C4;
    border-color: floralwhite;
    border-radius: 5px;
    margin-left: 15px;
}

.procurar{
    margin-bottom: 25px;
    text-align: end;
    margin-top: 15px;
    
}

.Completo p{
    font-size: 1.8rem;
    color: #FF8E00;
    margin-top: 20px;
    padding-top: 25px;
    font-weight: bold;
    
}

.Completo{
    margin-left: 90px;
    
}

.fundotextimg{
    background-color: #ffff;
    max-width: 1200px;
    height: 500px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: -4px 6px 16px -1px rgba(0,0,0,0.45);
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 102px;
    
}


.bannerRecru{
    width: 400px;
    height: 300px;
}

.video-js{
    
    margin-left: 550px;
    margin-top: -400px;
}

.Videos{
    display: flex;
    justify-content: space-around;
}
.card{
    position: relative;
    display: flex;
   justify-content: center;
  }
  
  #cardimg{
    display: block;
    width: 257px;
    height: 257px;
    object-fit: cover;
  }
  
  .containercards {
    position: relative;
    margin: 50px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    height: 257px;
    width: 257px;
    opacity: 0;
    transition: .5s ease;
    background-color: #011826;
  }
  
  .containercard:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  @media(max-width:960px) {
    .Video{
          width: 200px;

      }

      .bannerRecru img{
          width: 100px;
      }
  }