@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.redefinir{
    display: flex;
    justify-content: center;
}
.FundForm{
    background-color: #FFF8F8;
    width: 450px;
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.FundoInfo{
    background-color: #0367A6;
    border-radius: 3px;
    height: 434px;
    width: 450px;
    color: #FFF8F8;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.foguete-logo1{
    width: 300px;
    height: 300px;
    
}

/* .Container{
    display: flex;
    font-family: 'Montserrat';
    justify-content: center;
    width: 1440px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E9E9E9;
} */

.InputForms{
    
    background-color: #c9c7c738;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px 1px 1px #c9c7c738;
    width: 300px;
    
    text-align: center;
    
}
.setaEmpresa{
   width: 11px;
   margin-top: 2px;
   margin-left: 10px;
}

.LogarEmpresa{
    font-size: 8px;
    margin-top: 4px;
    color: #0367A6;
    margin-left: 180px;
    font-family: 'Comfortaa', cursive;
}

.ButtonSignIng{
    height: 35px;
    background-color: #0367A6;
    margin-top: 10px;
    border-radius: 3px;
    
    width: 170px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo-a{
    width: 40px;
    margin-top: 10px;
    text-align: center;  
   margin-left: 0px;
}

.body{
     background-color: #E9E9E9;
}
@media(max-width:570px) {

    .redefinir{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }
    .FundForm{
        width: 285px;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }
    
    .FundoInfo{
        background-color: #0367A6;
        border-radius: 3px;
        width: 285px;
        color: #FFF8F8;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .InputForms{
         width: 220px;
    }
    
    
    
   
   
}
@media(max-width:400px) {

    .redefinir{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .FundForm{
        width: 250px;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }
    
    .FundoInfo{
        background-color: #0367A6;
        border-radius: 3px;
        width: 250px;
        color: #FFF8F8;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .InputForms{
         width: 220px;
    }
    


.ButtonSignIng{
    height: 35px;
    background-color: #0367A6;
    margin-top: 10px;
    border-radius: 3px;
    
    width: 170px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.foguete-logo1{
    width: 200px;
    height: 200px;
    
}
    
    
   
   
}

