@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9e9e9;
}

.botoes{
    display: flex;
    align-items: center;
   margin-right: 10px;
   font-family: 'Montserrat', sans-serif;
}

.MuiButton-text{
    font-family: 'Montserrat', sans-serif;
}

.my-3 {
    margin-top: 2rem!important;
    margin-bottom: 1rem!important;
    padding-bottom: 20px;
}

