

.Container_perfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

@media(max-width:500px){
    .Imgem_upload, button{
        width: 1em;
        height: 40px;
    }
}

@media(min-width:501px){
    .Imgem_upload, button{
        width: 4em;
        height: 60px;
    }
}
